In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("AirQualityUCI.csv")

In [3]:
print(df.info())      
print(df.describe())   
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(15), object(2)
memory usage: 1.2+ MB
None
            CO(GT)  PT08.S1(CO)     NMHC(GT)     C6H6(GT)  PT08.S2(NMHC)  \
count  9357.000000  9357.000000  9357.000000  9357.000000    9357.000000
mean    -34.207524  1048.990061  -159.090093     1.865683     894.595276
std      77.657170   329.832710   139.789093    41.380206     342.333252
min    -200.000000  -200.000000  -200.000000  -200.000000    -200.000000
25%       0.600000   921.000000  -200.000000     4.000000     711.000000
50%       1.500000  1053.000000  -200.000000     7.900000     895.000000
75%       2.600000  1221.000000  -200.000000    13.600000    1105.000000
max      11.900000  2040.000000  1189.000000    63.700000    2214.000000

           NOx(GT)  PT08.S3(NOx)      NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)  \
count  9357.000000   9357.000000  9357.000000   9357.000000  9357.000000
mean    168.616971    794.990168    58.148873   1391.479641   975.072032
std     257.433866    321.993552   126.940455    467.210125   456.938184
min    -200.000000   -200.000000  -200.000000   -200.000000  -200.000000
25%      50.000000    637.000000    53.000000   1185.000000   700.000000
50%     141.000000    794.000000    96.000000   1446.000000   942.000000
75%     284.000000    960.000000   133.000000   1662.000000  1255.000000
max    1479.000000   2683.000000   340.000000   2775.000000  2523.000000

                 T           RH           AH  Unnamed: 15  Unnamed: 16
count  9357.000000  9357.000000  9357.000000          0.0          0.0
mean      9.778305    39.485380    -6.837604          NaN          NaN
std      43.203623    51.216145    38.976670          NaN          NaN
min    -200.000000  -200.000000  -200.000000          NaN          NaN
25%      10.900000    34.100000     0.692300          NaN          NaN
50%      17.200000    48.600000     0.976800          NaN          NaN
75%      24.100000    61.900000     1.296200          NaN          NaN
max      44.600000    88.700000     2.231000          NaN          NaN
Date              114
Time              114
CO(GT)            114
PT08.S1(CO)       114
NMHC(GT)          114
C6H6(GT)          114
PT08.S2(NMHC)     114
NOx(GT)           114
PT08.S3(NOx)      114
NO2(GT)           114
PT08.S4(NO2)      114
PT08.S5(O3)       114
T                 114
RH                114
AH                114
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64